* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
  background: url(/img/bg-forest.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.login-header {
  border:2px solid #008CBA;
}

.scene {
  border:2px solid #008CBA;
}

.programming {
  border:2px solid #008CBA;
  background-color: #F9FFC4;
}

.task-guide {
  padding: 6px 10px 6px 10px;
  background-color: #F9FFC4; /* Green */
  font-size: 14px;
  font-family: "Microsoft Yahei"
}

.blockly-pad {
  background-color: #fff;
  font-family: sans-serif;
  overflow: hidden;
}

table {
  height: 100%;
  width: 100%;
}

.code-input {
  background-color: #fff;
  border: 1px solid #f1f1f1;
  padding: 6px;
  margin-bottom: 10px;
  min-height: 195px;
  height: 100%;
  width: 100%;
}

.pad {
  height: 300px; 
}

.blockly-workspace {
  height: 100%;
}