* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
  max-width: 60%;
  margin: 0 auto;
}

.login-header {
  height: 50px;
  border:2px solid #008CBA;
}

.code-game-content {
  height: 500px;
}
.scene {
  height: 100%;
  float: left;
  border:2px solid #008CBA;
  width: 50%;
}

.programing {
  height: 100%;
  position: static;
  margin-left: 50%;
  border:2px solid #008CBA;
}

.button {
  font-size: 16px;
  border-radius: 3px;
  width: 50px;
  text-align: center;
  padding: 4px 0;
  float: right;
  background-color: white;
  color: black;
  border:2px solid #008CBA;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #008CBA; /* Green */
  color: white;
}

.footer {
  height: 200px;
  border:2px solid #008CBA;
}