* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
  background: url(/img/bg-forest.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  zoom: 1.2;
}

.game-header {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
}

.scene {
  /* border:2px solid #008CBA; */
}

.programming {
  background-color: #fff;
  padding-top: 20px;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 12px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-sizing: border-box;
  /* border:2px solid #008CBA; */
}

.task-guide {
  width: 95%;
  background-color: #f5f5ea;
  line-height: 33px;
  border-radius: 20px;
  margin-left: 15px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 10px;
  box-sizing: border-box;
  font-size: 10pt;
  color: #666666;
  box-shadow: 0px 3px 5px rgba(65, 65, 65, 0.2);
}

.task-point {
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: #f88db1;
  /* border-radius: 3px; */
  margin-right: 5px;
  margin-bottom: 1px;
}

.show-count {
  width: 95%;
  line-height: 35px;
  text-align: right;
  margin-left: 10px;
  margin-right: 5px;
  padding-left: 40px;
  padding-right: 10px;
  box-sizing: border-box;
  font-size: 9pt;
  color: #949494;
}

.cnt-color-norm {
  color: #2bcf02;
}

.cnt-color-large {
  color: #ff9900;
}

.cnt-color-huge {
  color: #ff2323;
}

.blockly-btn {
  margin-right: 15px;
}

.blockly-btn-group {
  margin-top: 10px;
  margin-bottom: 5px;
}

.blockly-div {
  height: 100%;
  width: 100%;
}

.blockly-area {  
  height: 480px;
  margin-right: 10px;
  margin-left: 5px;
  border: none;
  box-shadow: 2px 2px 5px rgba(65, 65, 65, 0.2);
}

.code-text {
  background-color: #fff;
  border: 0px solid #f1f1f1;
  margin-right: 5px;
  margin-left: 5px;
  padding-left: 10px;
  min-height: 120px;
  height: 100%;
  width: 100%;
  font-size: 11pt;
  resize: none;
}

.footer-style {
  margin: 20px;
}

.form-box {
	margin-top: 70px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #444;
	background: rgba(0, 0, 0, 0.35);
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; color: #fff; }
.form-top-left h4 { margin-top: 20px; opacity: 0.8; color: #fff; }

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #fff;
	line-height: 100px;
	text-align: right;
	opacity: 0.3;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #444;
	background: rgba(0, 0, 0, 0.3);
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

.form-bottom form textarea {
	height: 150px;
}

.form-bottom form button.btn {
	width: 100%;
}

.form-bottom form .input-error {
	border-color: #19b9e7;
}

input[type="text"], 
input[type="password"], 
textarea, 
textarea.form-control {
	height: 50px;
    margin: 0;
    padding: 0 10px;
    vertical-align: middle;
    background: #fff;
    border: 3px solid #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

textarea, 
textarea.form-control {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
}

input[type="text"]:focus, 
input[type="password"]:focus, 
textarea:focus, 
textarea.form-control:focus {
	outline: 0;
	background: #fff;
    border: 3px solid #fff;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, 
textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: #888; }

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, 
textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color: #888; }

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: #888; }

.form-checkbox {
  opacity: 0.8;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.btn {
  margin:0 7.5px;
}

.btn-form {
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    font-size: 16px;
}
